body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  .calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    border: 2px solid #444;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    max-width: 400px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #fff;
    text-align: center;
  }

  input {
    grid-column: span 4;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 24px;
    color: #333;
    text-align: right;
    background-color: #ddd;
  }
  
  .operations {
    grid-column: span 4;
  }
  
  .operations .double1,
  .operations .double2 {
    display: flex;
    justify-content: space-between;
  }
  
  .operations button {
    margin: 8px;
    padding: 20px 30px;
    background-color: #aaa;
    border: 1px solid #444;
    cursor: pointer;
    border-radius: 5px;
    font-size: 24px;
    color: #333;
    transition: background-color 0.2s;
    flex: 1;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex-basis: calc(25% - 16px);
  }
  
  .operations button.double {
    flex-basis: calc(50% - 16px);
  }
  
  .operations button:hover {
    background-color: #ccc;
  }
  
  .operations button:active {
    background-color: #999;
  }
  
  .clear {
    grid-column: span 4;
    text-align: right;
  }
  
  .clear button {
    margin: 5px;
    padding: 20px;
    background-color: #f44336;
    border: 1px solid #444;
    cursor: pointer;
    border-radius: 5px;
    font-size: 24px;
    color: #fff;
    transition: background-color 0.2s;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .clear button:hover {
    background-color: #d32f2f;
  }
  
  .clear button:active {
    background-color: #b71c1c;
  }
  
  #result {
    grid-column: span 4;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid #444;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    text-align: right;
    background-color: #666;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }